// @color: #;

// width
$courses-extra-small: 417px;

$extra-small: 768px;
$small: 875px;
$medium: 1200px;
$large: 1400px;

// color
$headerColor: #fbfbfbed;
$main-color: #ffffff;
$secondary-color: #fff;

$global-txt-color: #1f1f24;
$second-txt-color: #8993ad;


